/* Reset Styles */
h1 {
  margin: 0;
}

.app {
  display: grid;
  grid-template-columns: 330px auto;
}

.sidebar {
  margin-left: 30px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.machine {
  height: 1000px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.square {
  border: 7px solid white;
  cursor: pointer;
  flex-grow: 1;
}

.square.green {
  background-color: rgb(55, 199, 55);
}
.square.orange {
  background-color: rgb(255, 196, 0);
}
.square.purple {
  background-color: rgb(140, 29, 231);
}

.title {
  user-select: none;
}
.title .green {
  color: rgb(55, 199, 55);
}
.title .orange {
  color: rgb(255, 196, 0);
}
.title .purple {
  color: rgb(140, 29, 231);
}

button {
  height: 40px;
  width: 140px;
  border: 0px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1rem;
}

button:hover {
  background-color: hsl(0deg, 0%, 80%);
}

i {
  margin-right: 10px;
  margin-top: 5px;
  color: hsl(0deg, 0%, 50%);
  cursor: pointer;
}

i:hover {
  color: rgb(55, 199, 55);
}

i:active {
  color: rgb(255, 196, 0);
}

i.selected {
  color: rgb(140, 29, 231);
}

.settings {
  margin-top: 10px;
  user-select: none;
}
.settings i {
  margin: 0 5px;
}

.settings i.disabled {
  color: hsl(0deg, 0%, 90%);
  cursor: default;
}

.gridSize {
  display: inline-block;
  width: 20px;
  text-align: center;
}

.slideup, .slidedown {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}

.slidedown {
  max-height: 60px;
}

.buttons {
  display: flex;
  align-items: center;
}

.message {
  margin-left: 5px;
  display: inline-block;
  color: rgb(55, 199, 55);
}

.slideleft {
  visibility: hidden;
  /* TODO:(chris) add animation */
}

.slideright {
  /* TODO:(chris) add animation */
}

@media screen and (max-width: 1500px) and (min-width: 1101px) {
  .machine {
    height: 700px;
    width: 700px;
  }

  .square {
    border: 5px solid white;
  }
}

@media screen and (max-width: 1100px) {
  .machine {
    height: 300px;
    width: 300px;
  }

  .square {
    border: 3px solid white;
  }

  .machine {
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  }

  .app {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: max-content auto;
  }

  .sidebar {
    align-items: center;
    margin-left: 0px;
    margin-top: 30px;
  }
}
