h1 {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 742px;
}

.grid {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.square {
  width: 70px;
  height: 70px;
  border: 7px solid white;
}

.square.green {
  background-color: rgb(55, 199, 55);
}
.square.orange {
  background-color: rgb(255, 196, 0);
}
.square.purple {
  background-color: rgb(140, 29, 231);
}
