/* Reset Styles */
h1 {
  margin: 0;
}

.app {
  display: grid;
  grid-template-columns: 350px auto;
}

.sidebar {
  margin-left: 30px;
  margin-top: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  width: 742px;
}

.machine {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
  align-items: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.square {
  width: 70px;
  height: 70px;
  border: 7px solid white;
}

.square.green {
  background-color: rgb(55, 199, 55);
}
.square.orange {
  background-color: rgb(255, 196, 0);
}
.square.purple {
  background-color: rgb(140, 29, 231);
}

button {
  height: 40px;
  width: 140px;
  border: 0px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1rem;
}

button:hover {
  background-color: hsl(0deg, 0%, 80%)
}

i {
  margin-right: 10px;
  margin-top: 5px;
  color: hsl(0deg, 0%, 50%)
}

i:hover {
  color: rgb(55, 199, 55);
}

i:active {
  color: rgb(255, 196, 0);
}

i.selected {
  color: rgb(140, 29, 231);
}